#h5_grab_content {
  width: 1190px;
  margin: 20px auto;
  overflow: hidden;
}
#h5_grab_content .content_left {
  width: 780px;
  float: left;
}
#h5_grab_content .content_left .page_template {
  margin: 20px 0;
  text-align: center;
}
#h5_grab_content .content_left .grab_page_item {
  width: 100%;
  overflow: hidden;
}
#h5_grab_content .content_left .grab_page_item li {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
}
#h5_grab_content .content_left .grab_page_item li .game_info {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #e2e2e2;
}
#h5_grab_content .content_left .grab_page_item li .game_info .pic {
  width: 140px;
  height: 140px;
  display: block;
  float: left;
  margin: 0 20px 0 0;
}
#h5_grab_content .content_left .grab_page_item li .game_info .title {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #333333;
}
#h5_grab_content .content_left .grab_page_item li .game_info .leiming {
  font-size: 16px;
  height: 18px;
  line-height: 18px;
  color: #666;
  margin: 11px 0 0 0;
}
#h5_grab_content .content_left .grab_page_item li .game_info .leiming span {
  display: inline-block;
  vertical-align: middle;
}
#h5_grab_content .content_left .grab_page_item li .game_info .leiming .sentiment {
  vertical-align: middle;
}
#h5_grab_content .content_left .grab_page_item li .game_info .leiming .sentiment img {
  height: 18px;
}
#h5_grab_content .content_left .grab_page_item li .game_info .leiming .sentiment i {
  vertical-align: text-bottom;
  font-style: normal;
}
#h5_grab_content .content_left .grab_page_item li .game_info .desc {
  font-size: 16px;
  color: #666666;
  line-height: 16px;
  height: 16px;
  margin: 10px 0 0 0;
}
#h5_grab_content .content_left .grab_page_item li .game_info .play {
  width: 209px;
  height: 42px;
  overflow: hidden;
  float: left;
  line-height: 42px;
  background: #6BB5F7;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 20px 0 0 0;
}
#h5_grab_content .content_left .grab_page_item li .game_info .qrcode {
  width: 111px;
  height: 140px;
  position: absolute;
  top: 0;
  right: 0;
}
#h5_grab_content .content_left .grab_page_item li .game_info .qrcode p {
  width: 100%;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 15px;
  color: #666;
  margin: 6px 0 0 0;
}
#h5_grab_content .content_left .grab_page_item li ol {
  width: 100%;
  overflow: hidden;
}
#h5_grab_content .content_left .grab_page_item li ol dl {
  padding: 15px 0;
  position: relative;
}
#h5_grab_content .content_left .grab_page_item li ol dl .title {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #333333;
}
#h5_grab_content .content_left .grab_page_item li ol dl .desc {
  margin: 10px 0 0 0;
}
#h5_grab_content .content_left .grab_page_item li ol dl .desc span {
  display: inline-block;
  max-width: 585px;
  line-height: 16px;
  height: 16px;
  font-size: 16px;
  color: #666666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
#h5_grab_content .content_left .grab_page_item li ol dl .progress_bar {
  line-height: 14px;
  font-size: 13px;
  color: #63B9F7;
  margin: 15px 0 0 0;
  overflow: hidden;
}
#h5_grab_content .content_left .grab_page_item li ol dl .progress_bar p {
  width: 306px;
  height: 14px;
  background-color: #F0F4F6;
  border-radius: 14px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
}
#h5_grab_content .content_left .grab_page_item li ol dl .progress_bar p span {
  display: inline-block;
  height: 14px;
  position: absolute;
  top: 0;
  left: 0;
  background: #6CB5F7;
  border-radius: 14px;
}
#h5_grab_content .content_left .grab_page_item li ol dl .receive {
  width: 110px;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  background: #6BB5F7;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 35px;
  right: 0;
}
#h5_grab_content .content_right {
  width: 380px;
  float: right;
}
